body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    height: 100px;
    background-color: rgb(67, 194, 67);
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header > nav > button {
    border-radius: 10%;
    background-color: rgb(2, 85, 2);
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 20px;
    cursor: pointer;
}

header + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-and-images {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.example-images-container {
    display: flex;
    gap: 50px;
}

.example-image {
    height: 200px;
    width: 200px;
    border: 1px black solid
}

.restaurant-quote {
    margin-top: 50px;
    font-style: italic;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    font-size: 15px;
}

.about-container {
    display: flex;
    gap: 100px;
}

.about-image-container {
    height: auto;
    height: 100%;
    width: 100%;
}

.about-image {
    object-fit: contain;

}

.about-description {
    font-weight: bold;
}